body {
    margin: 0;
}

#map {
    height: 100vh;
    width: 100%;
    display: block; 
}

/* Style général de la barre de recherche */
.leaflet-control-search {
    background-color: #ffffff; /* Couleur de fond */
    border: 2px solid #d9d9d9; /* Bordure */
    border-radius: 30px; /* Coins arrondis */
    box-shadow: 0 24px 24px rgba(255, 255, 255, 0.274); /* Ombre */
    font-family: 'Arial', sans-serif; /* Police */
    color: #000000; /* Couleur du texte */
}

/* Bouton pour effacer la recherche (croix) */
.leaflet-control-search .search-cancel {
    background: url('./images/cancel-icon.png') no-repeat center center; /* Chemin relatif vers votre icône personnalisée */
    background-size: 70%; /* Ajuster la taille de l'icône */
    border: none; /* Pas de bordure */
    border-radius: 50%; /* Rond */
    width: 40px; /* Taille */
    height: 40px; /* Taille */
    display: flex; /* Utilisation de flexbox pour centrer l'icône */
    cursor: pointer; /* Curseur pointeur */
    position: absolute; /* Position absolue pour ajustement */
    right: 50px; /* Alignement à droite */
    color: #ffffff; /* Rendre la couleur de l'icône de base transparente */
    font-size: 0; /* Taille de l'icône à 0 pour masquer l'icône de base */
}

/* Tooltip de recherche */
.leaflet-control-search .search-tooltip {
    box-sizing: border-box;
    padding: 10px;
    border-radius: 15px;
    background-color: #ffffff;
    border: 2px solid #d9d9d9; /* Contour en couleur rouge */
    color: #000000;
    font-size: 14px;
    position: absolute;
    top: 120%;
    left: 0;
    right: 0;
    margin: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1010; /* Tooltip de recherche au premier plan */
}

/* Bouton croix survolé */
.leaflet-control-search .search-cancel:hover {
    background-color: #d9d9d9; /* Couleur au survol */
}

.leaflet-control-search input {
    outline: none;
    border: none; /* Facultatif : enlève également les bordures si présentes */
}

/* Style pour les éléments de la couche lorsqu'ils sont survolés */
.leaflet-interactive:hover {
    fill-opacity: 1;
    cursor: pointer;
}

/* Style de l'élément actif (lorsque sélectionné sur la carte) */
.leaflet-interactive.selected {
    fill-opacity: 1;
    stroke: #017732; /* Couleur verte pour l'élément sélectionné */
}

/* label pour afficher les salle */
.leaflet-tooltip-custom {
    font-size: 14px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border: 1px solid #d9d9d9;
    border-radius: 15px;
    padding: 2px 5px;
}


/* Personnalisation du popup */
.leaflet-popup-content {
    font-size: 14px;
    color: #333;
    font-weight: bold;
}

/* Style pour les cercles créés par Leaflet (s'ils ont une classe spécifique, par exemple) */
.leaflet-interactive {
    border-radius: 50%;  /* Optionnel : si tu veux des cercles parfaitement ronds */
}

/* Pour personnaliser la couleur et l'apparence du cercle */
.leaflet-circle {
    stroke: #d9d9d9; /* La couleur du bord du cercle */
    fill: #ffffff;   /* La couleur de remplissage du cercle */
    fill-opacity: 0.4;
}

.leaflet-control-zoom {
    position: fixed;
    bottom: 10px; /* Distance depuis le bas */
    right: 10px;  /* Distance depuis la droite */
}

/* Résultat survolé */
.leaflet-control-search .search-tooltip li {
    padding: 0px; /* Espacement des items */
    cursor: pointer; /* Curseur pointeur */
}

.leaflet-control-search .search-tooltip li:hover {
    background-color: #d9d9d9; /* Couleur de fond au survol */
    color: #495057; /* Couleur du texte */
    border-radius: 100px;
}

/* Texte des résultats */
.leaflet-control-search .search-tooltip li span {
    font-weight: normal; /* Texte en gras */
}

.leaflet-control-search .search-tooltip {
    list-style-type: none; /* Supprime les puces de la liste */
    padding-left: 20px; /* Supprime le padding gauche */
}

.leaflet-control-search .search-button:hover {
    background-color: #D9D9D9; /* Changer la couleur au survol */
}

.leaflet-control-layers {
    background-color: #ffffff; /* Fond semi-transparent pour le contrôle des couches */
    border-radius: 15px;  /* Coins arrondis */
    border: 2px solid #d9d9d9 !important; /* Utilisation de la couleur RGBA pour la bordure avec !important */
    padding: 10px; /* Espacement autour du contrôle */
    padding-right: 15px;
    position: relative; /* Position absolue */
    box-shadow: 0px 0px 10px rgba(255, 0, 0, 0.2); /* Ombre douce autour du contrôle */
}