/* Style de la carte */
#map {
    height: 98vh;
    width: 100%;
}

/* Style des polygones GeoJSON */
.geojson-polygon {
    stroke: #16a34a; /* Bordure verte */
    stroke-width: 2;
    stroke-opacity: 1;
    fill: #22c55e; /* Remplissage vert clair */
    fill-opacity: 0.4;
}

/* Style du bouton de réinitialisation */
.reset-view-button {
    background-color: white;
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 16px;
}

.reset-view-button:hover {
    background-color: #e0e0e0; /* Couleur légèrement assombrie */
}
