/* Ajustements pour les petits écrans */
@media (max-width: 600px), (hover: none) and (pointer: coarse) {
    .leaflet-control-layers{
        position: relative;
        background-color: #5FA199;
        z-index: 800;
    }

    /* Style général de la barre de recherche */
    .leaflet-control-search {
        position: absolute; /* Position absolue pour placer la barre de recherche */
        display: flex; /* Utilisation de flexbox pour aligner le champ et l'icône */
        align-items: center; /* Aligner verticalement l'élément */
        justify-content: space-between; /* Espacement entre le champ de texte et l'icône */
        padding: 10px; /* Ajouter un peu de padding */
        box-sizing: border-box; /* Inclure padding et bordures dans la largeur totale */
        width: calc(100vw - 20px); /* Prendre toute la largeur de l'écran */
        z-index: 1000;
    }

    /* Largeur du champ de texte */
    .leaflet-control-search input {
        width: calc(100% - 60px); /* Réduire la largeur pour tenir compte de l'icône */
        padding: 10px; /* Ajouter un peu de padding */
        font-size: 14px; /* Taille du texte */
        box-sizing: border-box; /* Inclure le padding et la bordure dans la largeur totale */
        border-radius: 300px; /* Coins arrondis */
    }

    /* Style du bouton de recherche (loupe) */
    .leaflet-control-search .search-button {
        width: 40px; /* Taille de l'icône de recherche */
        height: 40px; /* Taille de l'icône de recherche */
        background-color: #5FA199; /* Couleur de fond */
        background: url('./images/search-icon.png') no-repeat center center; /* Icône de recherche */
        background-size: 70%; /* Ajuster la taille de l'icône */
        border: none;
        border-radius: 50%; /* Rendre le bouton rond */
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer; /* Curseur pointer */
        transition: background-color 0.3s; /* Transition pour l'effet de survol */
    }

    .leaflet-control-search .search-button:hover {
        background-color: #73CBC0; /* Changer la couleur au survol */
    }

    /* Tooltip de recherche */
    .leaflet-control-search .search-tooltip {
        width: 100%; /* Prendre toute la largeur de la barre de recherche */
        box-sizing: border-box;
        padding: 10px;
        border-radius: 15px;
        background-color: #5FA199;
        color: #212529;
        font-size: 14px;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        margin: 0;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        z-index: 1000;
    }
    

}
