body {
    margin: 0;
}

#map {
    height: 100vh;
    width: 100%;
}

/* Style pour les éléments de la couche lorsqu'ils sont survolés */
.leaflet-interactive:hover {
    fill-opacity: 0.7;
    cursor: pointer;
}

/* Style de l'élément actif (lorsque sélectionné sur la carte) */
.leaflet-interactive.selected {
    fill-opacity: 1;
    stroke: #017732; /* Couleur verte pour l'élément sélectionné */
}

/*label pour aficher les salle */
.leaflet-tooltip-custom {
    font-size: 14px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border: 1px solid #ddd;
    border-radius: 15px;
    padding: 2px 5px;
}


/* Personnalisation du popup */
.leaflet-popup-content {
    font-size: 14px;
    color: #333;
    font-weight: bold;
}

/* Style pour les cercles créés par Leaflet (s'ils ont une classe spécifique, par exemple) */
.leaflet-interactive {
    border-radius: 50%;  /* Optionnel : si tu veux des cercles parfaitement ronds */
}

/* Pour personnaliser la couleur et l'apparence du cercle */
.leaflet-circle {
    stroke: #15803d; /* La couleur du bord du cercle */
    fill: #16a34a;   /* La couleur de remplissage du cercle */
    fill-opacity: 0.4;
}

.leaflet-control-zoom {
    position: fixed;
    bottom: 10px; /* Distance depuis le bas */
    right: 10px;  /* Distance depuis la droite */
    border-radius: 50%;
}

/* Style général de la barre de recherche */
.leaflet-control-search {
    position: relative;
    background-color: #ffffff; /* Couleur de fond */
    border: 2px solid #d1d1d1; /* Bordure */
    border-radius: 300px; /* Coins arrondis */
    box-shadow: 0 24px 24px rgba(0, 0, 0, 0.274); /* Ombre */
    padding: 0px; /* Espacement interne */
    font-family: 'Arial', sans-serif; /* Police */
    color: #000000; /* Couleur du texte */
    display: flex; /* Aligner les éléments sur une ligne */
    align-items: center; /* Centrer verticalement */
    gap: 0px; /* Espacement entre les éléments */
}

/* Style du champ de saisie */
.leaflet-control-search input {
    width: 300px; /* Largeur du champ de texte */
    height: 30px; /* Hauteur */
    border: 0px solid #d1d1d1; /* Bordure */
    border-radius: 300px; /* Coins arrondis */
    padding: 10px; /* Espacement interne */
    font-size: 14px; /* Taille de la police */
    color: #212529; /* Couleur du texte */
    background-color: #ffffff; /* Couleur de fond */
}

/* Supprimer le contour par défaut au focus */
.leaflet-control-search input:focus {
    outline: none; /* Désactive le contour */
    box-shadow: none; /* Supprime l'ombre portée éventuelle */
    border: none; /* Supprime les bordures */
}

/* Placeholder (texte par défaut) */
.leaflet-control-search input::placeholder {
    color: #000000; /* Couleur du placeholder */
    font-style: italic; /* Italique */
}

.leaflet-control-search .search-button {
    background-color: #5FA199; /* Couleur de fond du bouton */
    background: url('./images/search-icon.png') no-repeat center center; /* Chemin relatif vers l'icône de recherche */
    background-size: 70%; /* Ajuster la taille de l'icône */
    border: none; /* Pas de bordure */
    border-radius: 50%; /* Rond */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer; /* Curseur pointeur */
    transition: background-color 0.3s; /* Transition sur le survol */
    width: 50px; /* Taille du bouton */
    height: 50px; /* Taille du bouton */
}

/* Bouton survolé */
.leaflet-control-search .search-button:hover {
    background-color: #73CBC0; /* Changement de couleur au survol */
}

/* Bouton pour effacer la recherche (croix) */
.leaflet-control-search .search-cancel {
    background-color: #5FA199; /* Couleur de fond pour la croix */
    background: url('./images/cancel-icon.png') no-repeat center center; /* Chemin relatif vers votre icône personnalisée */
    background-size: 70%; /* Ajuster la taille de l'icône */
    border: none; /* Pas de bordure */
    border-radius: 50%; /* Rond */
    width: 50px; /* Taille */
    height: 50px; /* Taille */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer; /* Curseur pointeur */
    position: absolute; /* Position absolue pour ajustement */
    right: 50px; /* Alignement à droite */
    color: transparent; /* Rendre la couleur de l'icône de base transparente */
    font-size: 0; /* Taille de l'icône à 0 pour masquer l'icône de base */
}

/* Bouton croix survolé */
.leaflet-control-search .search-cancel:hover {
    background-color: #cb7373; /* Couleur au survol */
}

/* Résultats de la recherche */
.leaflet-control-search .search-tooltip {
    width: 300px; /* Largeur du champ de texte */
    background-color: #5FA199; /* Couleur de fond */
    border: 2px solid #9BD0C9; /* Bordure */
    border-radius: 15px; /* Coins arrondis */
    padding: 5px; /* Espacement interne */
    color: #212529; /* Couleur du texte */
    font-size: 14px; /* Taille de la police */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Ombre */
    position: absolute; /* Position absolue pour éviter le chevauchement */
    top: 100%; /* En dessous de la barre de recherche */
    position: absolute; /* Position absolue */
    box-sizing: border-box;  /* Inclure le padding et la bordure dans la largeur totale */
}

/* Résultat survolé */
.leaflet-control-search .search-tooltip li {
    padding: 0px; /* Espacement des items */
    cursor: pointer; /* Curseur pointeur */
}

.leaflet-control-search .search-tooltip li:hover {
    background-color: #0c6fd3; /* Couleur de fond au survol */
    color: #495057; /* Couleur du texte */
}

/* Texte des résultats */
.leaflet-control-search .search-tooltip li span {
    font-weight: bold; /* Texte en gras */
}

/* Icône de recherche */
.leaflet-control-search .search-icon {
    color: #5FA199; /* Couleur de l'icône */
    font-size: 16px; /* Taille de l'icône */
}


.leaflet-control-search .search-tooltip {
    list-style-type: none; /* Supprime les puces de la liste */
    padding-left: 10px; /* Supprime le padding gauche */
}

.leaflet-control-layers {
    background-color: #ffffff; /* Fond semi-transparent pour le contrôle des couches */
    border-radius: 15px;  /* Coins arrondis */
    border: 2px solid #cecece !important; /* Utilisation de la couleur RGBA pour la bordure avec !important */
    padding: 10px; /* Espacement autour du contrôle */
    padding-right: 20px;
    position: relative; /* Position absolue */
    box-shadow: 0px 0px 10px rgba(255, 0, 0, 0.2); /* Ombre douce autour du contrôle */
}