body {
    margin: 0;
}

#map {
    height: 100vh;
    width: 100%;
}

.leaflet-control-zoom-out {
    position: fixed;
    bottom: 40px; 
    right: 20px;  
}

.leaflet-control-zoom-in {
	position: fixed;
    bottom: 70px; 
    right: 20px;
}

/*search*/
.leaflet-control-search {
	z-index: 1000;
	position: fixed;
	top: 0;
	left: 0;
	background:#fff;
	color:#1978cf;
	border: 2px solid rgba(0,0,0,0.2);
	background-clip: padding-box;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 4px;
	background-color: rgba(255, 255, 255, 0.8);
	margin-left: 10px;
	margin-top: 10px;
}

.leaflet-control-search.search-exp {
	background: #fff;
	border: 5px solid rgba(0,0,0,0.2);
	background-clip: padding-box;
}

/*layer style*/
.leaflet-control {
	position: relative;
	pointer-events: visiblePainted; 
	pointer-events: auto;
	}
.leaflet-top,
.leaflet-bottom {
	position: absolute;
	pointer-events: none;
	}
.leaflet-top {
	top: 0;
	}
.leaflet-right {
	right: 0;
	}
.leaflet-bottom {
	bottom: 0;
	}
.leaflet-left {
	left: 0;
	}
.leaflet-control {
	float: left;
	clear: both;
	}
.leaflet-right .leaflet-control {
	float: right;
	}
.leaflet-top .leaflet-control {
	margin-top: 20px;
	}
.leaflet-bottom .leaflet-control {
	margin-bottom: 20px;
	}
.leaflet-left .leaflet-control {
	margin-left: 20px;
	}
.leaflet-right .leaflet-control {
	margin-right: 20px;
	}